<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoviSafe</title>

  <link rel="stylesheet" href="/Css/landing.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://kit.fontawesome.com/c3c2ece58a.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- -------NAVBAR-------- -->

  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/">Covi<span>Safe</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Covid-19
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Covid-19">About Covid-19</a>
            <a class="dropdown-item" href="/Statistics">Statistics</a>
            <a class="dropdown-item" href="/Vaccination">Vaccination</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Donations">Donations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Emergency-Contacts">Emergency Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact-Us">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- ------LANDING SCREEN----- -->
  <div id="landing" class="mt-5">
    <div class="container-fluid row">
      <div class="col-1"></div>
      <div class="col-4">
        <h1>
          STAY <span>HOME</span>
          <br>
          <span>STAY</span> SAFE
        </h1>
        <br><br>
        <p class="text">
          <span>Stay Safe</span> by taking some simple precautions,
          <br>
          <span class="span1"> Do it at all times!</span>
        </p>
        <br><br>
        <a href="#graphs">
          <button class="but1">See the Stats</button>
        </a>
        <button class="but2" onclick="getcovid()">Learn More</button>
        <form action="/Covid-19" method="get" id="learnmoreform"></form>
      </div>
    </div>
  </div>

  <!-- ------NATIONAL STATS TODAY------ -->
  <h1 class="mt-3">NATIONAL STATS TODAY</h1>
  <div id="graphs" class="container-fluid">

    <div class="row py-5">

      <div class="col-2">
      </div>

      <!-- -----------------Total Cases Chart-------------- -->
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Total Cases </h5>
            <canvas id="confirmed_chart"></canvas>
            <br>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="total_cases"></h6>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="new_cases"></h6>

          </div>
        </div>
      </div>

      <!-- ----------------------Total Active Cases---------------- -->
      <div class="col-4">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title d-flex justify-content-center">Active Cases</h5>
            <canvas id="active_chart"></canvas>
            <br>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="active"></h6>
            <br>
          </div>
        </div>
      </div>

      <div class="col-2">
      </div>
    </div>

    <div class="row py-4">
      <div class="col-1">
      </div>

      <!-- ----------------------------Total Recovered Chart--------------------- -->
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Total Recovered </h5>
            <canvas id="recovered_chart"></canvas>
            <br>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="recovered">Total : </h6>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="new_recovered">New : </h6>

          </div>
        </div>
      </div>

      <!-- -----------------------Ratio----------------------- -->
      <div class="col-2">

      </div>
      <!-- ----------------------------Total Deceased Chart------------------------------ -->

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Total Deceased </h5>
            <canvas id="deceased_chart"></canvas>
            <br>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="deceased"></h6>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center" id="new_deceased"></h6>

          </div>
        </div>
      </div>

    </div>

    <span class="py-4 pb-5 d-flex justify-content-center">
      <button class="but3" onclick="getstatistics()">Learn More</button>
      <form action="/Statistics" method="get" id="learnmorestats"></form>
    </span>
  </div>

  <!-- ----------------VACCINATION TODAY--------------- -->

  <h1 class="mt-3">VACCINATION TODAY</h1>
  <div id="vaccination" class="container-fluid py-4">

    <div class="row py-5">
      <div class="col-2"></div>
      <div class="col-2">
        <div class="card h-100">
          <img src="https://firebasestorage.googleapis.com/v0/b/covicare-b2bc3.appspot.com/o/WhatsApp%20Image%202021-05-11%20at%209.06.04%20PM%20(1).jpeg?alt=media&amp;token=1ee04c5e-71d9-41f6-87fa-65084b9c8301" class="card-img-top">
          <div class="card-body">
            <p class="card-text">India to produce 4 times the required vaccine amount</p>
          </div>
        </div>
      </div>
       
      <div class="col-2">
        <div class="card h-100">
          <img src="https://firebasestorage.googleapis.com/v0/b/covicare-b2bc3.appspot.com/o/WhatsApp%20Image%202021-05-11%20at%209.06.03%20PM.jpeg?alt=media&amp;token=70eff370-289c-4e7b-87f6-f7d7f89cf827" class="card-img-top">
          <div class="card-body">
            <p class="card-text">India crosses 100-crore vaccination doses figure</p>
          </div>
        </div>
      </div>
       
      <div class="col-2">
        <div class="card h-100">
          <img src="https://i2.wp.com/www.eastmojo.com/wp-content/uploads/2021/02/vaccine-5895477_1920.jpg?fit=1200%2C675&ssl=1">
          <div class="card-body">
            <p class="card-text">Covid Vaccination available for all age groups, contact near by centres</p>
          </div>
        </div>
      </div>
       
      <div class="col-2">
        <div class="card h-100">
          <img src="https://firebasestorage.googleapis.com/v0/b/covicare-b2bc3.appspot.com/o/WhatsApp%20Image%202021-05-11%20at%209.06.04%20PM.jpeg?alt=media&amp;token=553a7d2b-d40e-44ad-bd05-179acdddfb77" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Ideal time for booster dose for Covid vaccine is 6 months after 2nd dose: Bharat Biotech MD</p>
          </div>
        </div>
      </div>

    </div>

    <span class="py-4 pb-5 d-flex justify-content-center">
      <button class="but3" onclick="getvaccination()">Learn More</button>
      <form action="/Vaccination" method="get" id="learnmorevaccination"></form>
    </span>

  </div>


  <!--- --------------------Faq---------------- -->

  <h1 class="mt-3">FAQs</h1>
  <div class="container-fluid pb-5" id="faq">

    <div class="row py-5">
      <div class="col-1"></div>

      <div class="col-5">
        <div class="accordion" id="accordionExample1">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-block text-left" id="one" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="row">
                    <div class="col-10">
                      How does the virus spread?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
              <div class="card-body">
                COVID-19 is thought to spread mainly through close contact from person to person, including between
                people who are physically near each other (within about 6 feet). People who are infected but do not show
                symptoms can also spread the virus to others. Cases of reinfection with COVID-19 have been reported but
                are rare. We are still learning about how the virus spreads and the severity of illness it causes.
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" id="two" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="row">
                    <div class="col-10">
                      What happens after i take vaccination ?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                Post-vaccinaton, you're taken into an observation room site where your general parameters are monitered
                for 30 minutes, for any possible adverse event following Immunisation (AEFI). </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" id="three" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  <div class="row">
                    <div class="col-10">
                      What if i decide not to get the COVISHEILD Vaccine?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                It is your choice to receive or not receive the COVISHIELD™ Vaccine. You may prefer to consult your
                healthcare provider. But if you register and don't show up then next time you will be charged more and
                it won't be free anymore.(in case of front line workers) </div>
            </div>
          </div>


        </div>
      </div>

      <div class="col-5">

        <div class="accordion" id="accordionExample2">

          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-block text-left" id="four" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <div class="row">
                    <div class="col-10">
                      What are the symptoms of Covid-19?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
              <div class="card-body">
                Common symptoms include headache, loss of smell and taste, nasal congestion and rhinorrhea, cough,
                muscle pain, sore throat, fever, diarrhea, and breathing difficulties. People with the same infection
                may have different symptoms, and their symptoms may change over time. </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" id="five" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <div class="row">
                    <div class="col-10">
                      What are adverse Events Following Immunisation ?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
              <div class="card-body">
                Minor AEFI: Common and self-limiting reactions like, swelling at the site of injection, fever, pain,
                nausea, irritability, dizziness, and tiredness.
                Severe AEFI: Can be disabling and rarely life threatening, like High fever (>102-degree F), anaphylaxis
                (allergic reaction)
                Serious AEFI: This includes reactions that require inpatient hospitalisation, cause significant
                disability. </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" id="six" onclick="change(this.id)" type="button"
                  data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <div class="row">
                    <div class="col-10">
                      Will the COVISHEILD Vaccine give me COVID19 Infection ?
                    </div>
                    <div class="col-2">
                      <span class="icon">
                        <i class="fas fa-angle-down icon"></i>
                      </span>
                    </div>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
              <div class="card-body">
                No. The COVISHIELD™ COVID-19 Vaccine does not contain SARS-CoV-2 and cannot give you COVID-19 infection.
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

  <!-- -----------------FOOTER--------------- -->
  <footer class="container-fluid" id="footer">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3" style="font-size: 3rem; padding-top: 3%;">
        <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="col-1" style="border-right: 3px solid white;"></div>
      <div class="col-1"></div>
      <div class="col-5">
        <p>Address :</p>
        <p>Gaurav Madan, 945, Rani Bagh, New Delhi<br>
          110034, India
        </p>
        <p>
          Support : <br>
          Support@CoviSafe.com
        </p>
      </div>
    </div>
  </footer>

  <script src="/JS/landing.js"></script>
</body>

</html>