@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif !important;
}

.text{
    text-align: center;
}

.text p{
    font-size: large;
    padding-top: 1%;
    color:#3C3D48;
}

.text img{
    padding-top: 1%;
    height: 23rem;
}
h1{ 
    color: #2D3391;
    padding-top: 5%;
}